{% extends "base.html" %}

{% block announce %}
<a href="https://discord.gg/5QKpGqR">
   Join the Go2Scale <strong>community</strong> on
   <span class="twemoji">
     {% include ".icons/fontawesome/brands/discord.svg" %}
   </span>
   <strong>Discord</strong>
</a>
{% endblock %}
